
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div style="display: block">
                    <app-grafica-dona [data]="graficos.grafico1"></app-grafica-dona>                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div style="display: block">
                        <app-grafica-dona [data]="graficos.grafico2"></app-grafica-dona>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div style="display: block">
                            <app-grafica-dona [data]="graficos.grafico3"></app-grafica-dona>                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div style="display: block">
                                <app-grafica-dona [data]="graficos.grafico4"></app-grafica-dona>                    
                            </div>
                        </div>
                    </div>
                </div>
</div>